kind: Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1

namespace: elastic-stack-logging

resources:
  - os-dashboard-secret.yaml

# The secret values for config.yml and roles_mapping.yml are managed by the p1as-oauth init container, and
# can be found in the p14c-integration image.
secretGenerator:
  - name: opensearch-securityconfig
    type: Opaque
    files:
      - action_groups.yml
      - audit.yml
      - internal_users.yml
      - nodes_dn.yml
      - roles.yml
      - tenants.yml
      - allowlist.yml
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    sealedsecrets.bitnami.com/managed: "true"
    argocd.argoproj.io/sync-options: Prune=false
